@fastify/etag doesn't fully comply with the RFC when handling If-None-Match

### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested


### 🚀 Feature Proposal

### Background

RFC 9110§13.1.2 defines the behavior for handling the If-None-Match header, which this plugin _partially_ implements.

From the RFC (emphasis mine):

> When an origin server receives a request that selects a representation and that request includes an If-None-Match header field, the origin server MUST evaluate the If-None-Match condition per **_prior_** to performing the method.

and

> An origin server that evaluates an If-None-Match condition MUST NOT perform the requested method if the condition evaluates to false

However, @fastify/etag currently evaluates the Etag in the `onSend` hook, which is _after_ the method is performed.

Additionally, the RFC states:

> [if the condition evaluates to false,] the origin server MUST respond with either a) the 304 (Not Modified) status code if the request method is GET or HEAD or b) the 412 (Precondition Failed) status code for all other request methods.

Whereas this plugin returns a 304 for all request methods.


### Solution

To solve this, I propose the @fastify/etag plugin either removes the If-None-Match behavior (where it currently returns 304) as it is incorrect per the spec, or moves it behind a configuration option, so that it can easily be disabled. **How to proceed must be further discussed.**

If not removed, the implementation should be updated to send 412 when not a GET or HEAD request.


#### For a full implementation

Ideally, a full implementation of the If-None-Match (and possibly the If-Match) behavior would be provided by a fastify plugin.

Implementing the full If-None-Match behavior, per the RFC, is non-trivial and would greatly increase the scope of the @fastify/etag plugin. Doubly so if handling If-Match was also included.

Because of this, I would propose a new plugin instead of including it within @fastify/etag, but this also should be discussed.

### Motivation

The implementation of behaviour defined in RFCs should be accurate and compliant. Currently, this plugin only partially implements If-None-Match, and does so incorrectly when handling request mothods other than GET and HEAD.

### Example

_No response_

I would be happy to implement this, but the solution should be discussed first. 

Since the `ETag` is currently created by `hash` method. I don't know how to check compare prior then having payload.

I proper implementation would means we need the plugin consumer to tell us the previous `Etag` before the actual handler.
1. A proper storage for the Etag
2. A method to get the Etag based on certain parameter

It would drastically complicate the plugin.

This module matches the behavior or the etag middleware in express. While not correct in the RFC, observable end result is identical.

If you want a cache store that implement the behavior described by the OP, take a look at https://github.com/fastify/fastify-caching (the readme might need some work).

For what it's worth, this issue exactly why `fastify-etag` was created as an alternative to the approach in `fastify-caching`. See the discussion in https://github.com/fastify/fastify-caching/issues/16#issuecomment-423694963.

Thanks for the context @mcollina, @jsumners. 

> This module matches the behavior or the etag middleware in express

As this plugin aims to emulate the behavior of the express etag middleware, then I agree that the default behavior is correct as-is. I think the README should be updated to reflect this though. As it currently stands, the 304 response is unexpected.

As the 304 behavior isn't RFC compliant, how do you feel about adding a config option to allow disabling it? It would make this plugin usable for Etag-only use, and allow the user to handle the status code however they want.

Again, I'm happy to add both changes.

Sure thing, send a PR in!

I've been busy this last two weeks, but I've not forgotten about this. I can open a PR in the next few days 👍

Took me a little while to get around to it, but I have implemented the option in #117. Please review when possible. Feedback very welcome!